{% extends "../layout/adminLayout.njk" %}

{% block title %}Add Data{% endblock %}
{% block activeAdd %}active{% endblock %}

{%block content %}
<div class="row">
    <div class="container w-50">
        <h3 class="mb-3">Tambah Data</h3>
        <hr>

        <!-- Show Flash Message if Available -->
        {% if flashMsg | length %}
        <div class="alert alert-{{ 'success' if flashMsg[0].status == 'success' else 'danger' }}">
            {{ flashMsg[0].msg }}
        </div>
        {% endif %}

        <form action="/admin/add-data" method="POST">
            <!-- Name -->
            <div class="mb-3 row text-start">
                <label class="col-form-label col-md-4 text-md-end" for="name">Name :</label>
                <div class="col-md">
                    <input type="text" id="name" name="name" class="form-control">
                </div>
            </div>
            <!-- Email -->
            <div class="mb-3 row text-start">
                <label class="col-form-label col-md-4 text-md-end" for="email">Email :</label>
                <div class="col-md">
                    <input type="text" id="email" name="email" class="form-control">
                </div>
            </div>
            <!-- Address -->
            <div class="mb-3 row text-start">
                <label class="col-form-label col-md-4 text-md-end" for="address">Address :</label>
                <div class="col-md">
                    <input type="text" id="address" name="address" class="form-control">
                </div>
            </div>
            <!-- Date of birth -->
            <div class="mb-3 row text-start">
                <label class="col-form-label col-md-4 text-md-end" for="birthDate">Birth of Date :</label>
                <div class="col-md">
                    <input type="date" id="birthDate" name='birthDate' class="form-control" value="{{ oldValue[0].birthDate }}"/>
                </div>
            </div>
            <!-- Password input -->
            <div class="mb-3 row text-start">
                <label class="col-form-label col-md-4 text-md-end" for="password">Password :</label>
                <div class="col-md">
                    <input type="password" id="password" name='password' class="form-control" />
                </div>
            </div>
            <!-- Submit -->
            <div class="mb-3 row text-end">
                <div class="col-form-label">
                <button type="submit" class="btn btn-primary mb-2">Add Data</button>
                </div>
            </div>
        </form>
    </div>
</div>
{%endblock%}