{% extends "../layout/adminLayout.njk" %}

{%block content %}
<div class="row">
    <h3 class="mb-3">Update {{ id }}</h3>
    <hr>

    {% if flashMsg |length %}
    <div class="alert alert-success">
        {{ flashMsg }}
    </div>
    {% endif %}

    <div class="text-start col-md-8 col-xl-6">
        <form action="/admin/update-data/{{id}}" method="POST">
            <div class="mb-3">
                <label class="form-label" for="namaLengkap">Nama Lengkap</label>
                <input class="form-control" type="text" id="namaLengkap" name="namaLengkap" value="{{ namaKaryawan[0].nama_lengkap }}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="email">Email</label>
                <input class="form-control" type="text" id="email" name="email" value="{{ namaKaryawan[0].email }}">
            </div>
            <div class="mb-3">
                <label class="form-label" for="alamat">Alamat</label>
                <input class="form-control" type="text" id="alamat" name="alamat" value="{{ namaKaryawan[0].alamat }}">
            </div>
            <div class="text-end">
            <button type="submit" class="btn btn-primary mb-2">Update Data</button>
            </div>
        </form>
    </div>
</div>
{%endblock%}