{% extends "../layout/adminLayout.njk" %}

{%block content %}
<div class="row">
  <h3 class="mb-3">Update Data</h3>
  <hr>

  {% if flashMsg |length %}
    <div class="alert alert-success">
        {{ flashMsg }}
    </div>
  {% endif %}

  <div class="col-12">
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-start">ID</th>
          <th class="text-start">Nama Lengkap</th>
          <th class="text-start">Email</th>
          <th class="text-start">Alamat</th>
        </tr>
      </thead>
      <tbody>
        {% for a_karyawan in listKaryawan %}
        <tr>
        <th class="text-start">{{ a_karyawan[0] }}</th>
        <td class="text-start">{{ a_karyawan[1] }}</td>
        <td class="text-start">{{ a_karyawan[2] }}</td>
        <td class="text-start">{{ a_karyawan[3] }}</td>
        <td class="text-start">
            <a href="/admin/edit-data-page/{{ a_karyawan[0] }}" class="btn btn-primary">
            Update
            </a>
        </td>
        </tr>
        {% else %}
        <td colspan="6" class="text-center">Tidak Ada Data</td>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}