{% extends "../layout/landingLayout.njk" %}

{% block content %}
<h2>Selamat Datang di Sistem Pengelolaan Karyawan</h2>
<hr>
<br>
<pre>
    Silahkan Login atau Daftar Terlebih Dahulu Apabila Belum Memiliki Akun
</pre>
<br>
<a href="/admin">Admin Area</a>
{% endblock %}