{% extends "../layout/landingLayout.njk" %}

{% block activeHome %}active{% endblock %}

{% block content %}
<!-- Masthead-->
        <header class="masthead">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-8">
                        <h1 class="text-white font-weight-bold">Selamat Datang<br>di Sistem Pengelolaan Komunitas</h1>
                        <hr class="style5">
                    </div>
                    <div class="col-lg-8 align-self-baseline">
                        <p class="text-white-75 mb-5">Silahkan <strong>Login</strong> atau <strong>Daftar</strong> Terlebih Dahulu Apabila Belum Memiliki Akun</p>
                        <a class="btn btn-primary btn-xl" href="/admin/show-data-page">Admin Area</a>
                    </div>
                </div>
            </div>
        </header>
{% endblock %}