{% extends "../layout/landingLayout.njk" %}

{% block activeHome %}active{% endblock %}

{% block content %}
<h2>Selamat Datang di Sistem Pengelolaan Karyawan</h2>
<hr>
<br>
<pre>
    Silahkan Login atau Daftar Terlebih Dahulu Apabila Belum Memiliki Akun
</pre>
<br>
<a href="/admin/show-data-page" class="text-decoration-none">Admin Area</a>
{% endblock %}