{% extends "../layout/landingLayout.njk" %}

{% block content %}

<h2>Login</h2>

<div class="container w-25">
    <hr>

    {% if flashMsg |length %}
    <div class="alert alert-danger">
        {{ flashMsg }}
    </div>
    {% endif %}
    
    <form method="POST" action="/login">
        <!-- Select Role -->
        <div class="form-outline mb-3 text-start">
            <label class="form-label" for="role">Login as</label>
            <select class="form-select" name="role" id="role">
                <option value="karyawan" {{ 'selected' if oldLoginValue[0].role =='karyawan' }}>
                    Karyawan
                </option>
                <option value="manager" {{ 'selected' if oldLoginValue[0].role =='manager' }}>
                    Manager
                </option>
                <option value="admin" {{ 'selected' if oldLoginValue[0].role =='admin' }}>
                    Admin
                </option>
            </select>
        </div>
        <!-- Email input -->
        <div class="form-outline mb-3 text-start">
            <label class="form-label" for="">Email address</label>
            <input type="email" id="email" name="email" class="form-control"
            value="{{ oldLoginValue[0].email }}"
            />
            <small id="emailHelp" class="form-text text-muted">Make Sure You Enter Valid Email!</small>
        </div>
        <!-- Password input -->
        <div class="form-outline mb-3 text-start">
            <label class="form-label" for="">Password</label>
            <input type="password" id="password", name="password" class="form-control" />
        </div>
        <!-- Submit button -->
        <div class="form-outline mb-3 d-grid text-center">
            <button type="submit" class="btn btn-primary mb-4">Sign in</button>
        </div>
    </form>
</div>

{% endblock %}