{% extends "../layout/landingLayout.njk" %}

{% block content %}

<h2>Create New Account</h2>

<!-- Register Form -->
<div class="container w-50">
    <hr>

    {% if flashMsg.status === 'failed' %}
    <div class="alert alert-danger">
        {{ flashMsg.msg }}
    </div>
    {% endif %}

    {% if flashMsg.status === 'success' %}
    <div class="alert alert-success">
        {{ flashMsg.msg }}
    </div>
    {% endif %}

    <form method="POST" action="/register" enctype="multipart/form-data">
        <!-- Email input -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="email">Email address :</label>
            <div class="col-md">
                <input type="email" id="email" name='email' class="form-control {% if fieldError.name === 'email' %}is-invalid {% endif %}" value="{{ oldValue.email }}" />
                {% if fieldError.name === 'email' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Name input -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="name">Name :</label>
            <div class="col-md">
                <input type="name" id="name" name='name' class="form-control {% if fieldError.name === 'name' %}is-invalid {% endif %}" value="{{ oldValue.name }}" />
                {% if fieldError.name === 'name' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Address input -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="address">Address :</label>
            <div class="col-md">
                <input type="address" id="address" name='address' class="form-control {% if fieldError.name === 'address' %}is-invalid {% endif %}" value="{{ oldValue.address }}" />
                {% if fieldError.name === 'address' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Date of birth -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="birthDate">Birth of Date :</label>
            <div class="col-md">
                <div class="row g-2">
                    <div class="col-3">
                        <input type="number" name="birthDateDay" id="birthDateDay"
                        class="form-control col-md-3 d-inline"
                        placeholder="Day" value="{{ oldValue.birthDateDay }}">
                    </div>
                    <div class="col-5">
                        <select name="birthDateMonth" id="birthDateMonth" class="form-select col-md-4 d-inline">
                        <!-- this part handle by javaScript -->
                        </select>
                    </div>
                    <div class="col-4">
                        <input type="number" name="birthDateYear" id="birthDateYear"
                        class="form-control col-md-3 d-inline"
                        placeholder="Year" value="{{ oldValue.birthDateYear }}">
                    </div>
                </div>
            </div>
        </div>
        <!-- Password input -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="password">Password :</label>
            <div class="col-md">
                <input type="password" id="password" name='password' class="form-control {% if fieldError.name === 'password' %}is-invalid {% endif %}"/>
                {% if fieldError.name === 'password' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Password retype input -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="repassword">Retype Password :</label>
            <div class="col-md">
                <input type="password" id="repassword" name='repassword' class="form-control {% if fieldError.name === 'repassword' %}is-invalid {% endif %}" />
                {% if fieldError.name === 'repassword' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Code Activation -->
        <div class="mb-3 row text-start">
            <label class="col-form-label col-md-4 text-md-end" for="codeActivation">Code Activation :</label>
            <div class="col-md">
                <input type="text" id="codeActivation" name='codeActivation' class="form-control {% if fieldError.name === 'codeActivation' %}is-invalid {% endif %}" value="{{ oldValue.codeActivation }}" />
                {% if fieldError.name === 'codeActivation' %}
                <div class="text-danger">
                    <small><strong>{{ fieldError.msg }}</strong></small>
                </div>
                {% endif %}
            </div>
        </div>
        <!-- Submit button -->
        <div class="form-outline mb-3 d-grid text-center">
            <button type="submit" class="btn btn-primary mb-4">Register Now</button>
        </div>
    </form>
</div>

<script>
    // brithDateMonth
    const MonthName = ["January","February","March","April", "May","June","July","August","September",
                        "October","November","December"];
    select = document.getElementById('birthDateMonth');

    for (let i = 0; i<12; i++){
        let opt = document.createElement('option');
        opt.value = i + 1;
        opt.innerHTML = MonthName[i];
        if ( (i + 1) == "{{ oldValue.birthDateMonth }}" ) {
            opt.selected = 'selected';
        }
        select.appendChild(opt);
    }
</script>

{% endblock %}